body{
background-color: #f5f5f5;
background-image: url('../imagens/fundo_site.png') no-repeat;
overflow-x: hidden;
}

.container-fluid{height:100%;display:table;width:100%;padding-right:0;padding-left: 0}   
.row-fluid{height:100%;display:table-cell;vertical-align:middle;width:100%}
.centering{float:none;margin:0 auto} 


#header{
height: 220px;
width: 100%;
color: white;
}

.submit{

margin-left: -45px;
	
}

b{

color: #0066FF;
	
}

p{

font-family: 'Raleway', sans-serif;
text-align:justify;
	
}

p.footer{

color:white;
text-transform: uppercase;
	
}

p.creditos{

color:white;
font-size: 12px;
text-align: inherit;
	
}

.footer_creditos{
	
margin-top: 5%;
width: 200px;
	
}

.lista_footer{

font-size: 12px;
color: white;
list-style: none;
margin-left: -40px;

}

#direitos{
	

color: white;
background-color: #003D97;
padding-top: 9px;
	
}

#listaarquivos{
	
margin-left: 8%;
	
}

.conteudo_footer{

margin-left: 30px;
	
}

.footer_content{

margin-top: 30px;
left: 0;
	
}

footer{

background-color: #0066FF;
height: 250px;


}

.carousel-indicators {
	
bottom: -40;
}


.caixa_carousel{
	
background-color: #0066FF;
	
}

.carousel-indicators li {

border: 1px solid #0066FF;
text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}


.texto_carousel{

margin-top: -5px;
	
}

#marca{
    
margin-left: -2%;
margin-top: 30px;
position: relative;
z-index: 3;

    
}

.redes_sociais{

margin-top: 10px;

    

}

.redes_sociais:hover{

-webkit-filter: opacity(50%);

}



#conteudo{
margin-bottom: 30px;
}


h1{
font-family: 'Varela Round', sans-serif;
color:#0066FF;
font-weight: bold;
}


h2{
font-family: 'Varela Round', sans-serif;
color:#FFF;
font-weight: bold;		
}

h3 {
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;
color: #0066FF;
margin-bottom: 20px;
border-left-color: #0066FF;
border-left-style: solid;
padding-left: 15px;
}

h4 {
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;
color: #0066FF;
margin-bottom: 20px;
border-left-color: #0066FF;
border-left-style: solid;
padding-left: 15px;
}

.conteudo-central {
margin-left: 10px;
margin-bottom: 50px;

}

.conteudo-meio{
margin-top: 40px;
	
}

.conteudo-direita {
padding: 10px 20px 10px 15px;
margin-bottom: 20px;
margin-top: 15px;
/*box-shadow: 0 4px 30px 6px rgba(0,0,0,0.15);*/
}

#iframe_lateral{

border: 0px;
height: 1100px;
overflow: hidden;
}

.conteudo-lado{
margin-top: 20px;
margin-bottom: 30px;	
}


#menu{
background-color: #0066FF
}

#menu ul li a{
color:#ffffff;
padding-left: 22px;
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;

border-color:white;
	
border-style:solid;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:2px;
border-top-width:0px;
}

#menu ul li a:hover{
background-color:#ff0000;
color:white;
}

#carrossel{

margin-bottom: 60px;
border: 2px;
border-style: solid;
border-color: #0066FF;

    
}

.galeria{

	margin-bottom: 60px;
	
}


#login{

	width: 250px;
	height: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10%;


}

.area-restrita{

	width: 180px;
	margin-left: 10px;
	margin-bottom: 20px;


}

#login a{

	color: #FFF;
	background-color: #0066FF;
	padding: 5pt;

}

#email a{

	color: #FFF;
	background-color: #0066FF;
	padding: 5pt;

}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-bmpv{background-color:#013f9c;color:#ffffff;text-align:center}
.tg .tg-4mn7{background-color:#ffffff;color:#ffffff}
.tg .tg-wn41{background-color:#013f9c;color:#ffffff}
.tg .tg-oj4r{background-color:#0066ff;color:#ffffff;text-align:center}

#amazingslider-1 {

z-index: 0;
position: relative;
margin-top: -163px;
margin-left: -20px;
width: 100%;

}

.pessoa {

	position: relative;
	width: 100%;
	background-color: black;


}

.imagem {
 	height:65px;
 	width:50px;
 	float: left;
 	position: relative;

}

.texto{
	float:left;
	padding-left: 20px;
	line-height: 100%;
	position: relative;
	width: 90%;
}

p.bold{
	font-weight: bolder;
	color: #0066FF;
	font-size: 18px;
}

p.dados{
	font-size: 12px;
}

.espacamento{

	position: relative;
	float: left;
	width: 100%;
	height: 12px;

}