body{
background-color: #FFF;
background-image: url('../imagens/fundo_site.png') no-repeat;
}

.container-fluid{height:100%;display:table;width:100%;padding-right:0;padding-left: 0}   
.row-fluid{height:100%;display:table-cell;vertical-align:middle;width:100%}
.centering{float:none;margin:0 auto} 


#header{
height: 250px;
background-image:url('../imagens/fundoCabecalho.png');
color: white;
}

footer{

background-color: #0066FF;
height: 200px;
margin-top: 100px;

}

.carousel-indicators {
bottom: -40;
}
.caixa_carousel{
	
background-color: #0066FF;


	
}

.carousel-indicators li {

border: 1px solid #0066FF;
text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}


.texto_carousel{

margin-top: -5px;
	
}

#marca{
    
margin-left: 40px;
    
}

.redes_sociais{

margin-left: 70%;
margin-top: 35px;
    

}

.redes_sociais:hover{

-webkit-filter: contrast(340%);

}

p{

font-family: 'Raleway', sans-serif;
text-align:justify;
	
}


#conteudo{
margin-bottom: 30px;
}


h1{
font-family: 'Varela Round', sans-serif;
color:#0066FF;
font-weight: bold;
}


h2{
font-family: 'Varela Round', sans-serif;
color:#FFF;
font-weight: bold;		
}

h3 {
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;
color: #0066FF;
margin-bottom: 20px;
border-left-color: #0066FF;
border-left-style: solid;
padding-left: 15px;
}

h4 {
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;
color: #0066FF;
margin-bottom: 20px;
border-left-color: #0066FF;
border-left-style: solid;
padding-left: 15px;
}

.conteudo-central {
margin-left: 30px;
margin-bottom: 50px;
}

.conteudo-direita {
padding: 10px 40px 10px 25px;
margin-bottom: 20px;
margin-top: 15px;
/*box-shadow: 0 4px 30px 6px rgba(0,0,0,0.15);*/
}


#menu{
background-color: #0066FF
}

#menu ul li a{
color:#ffffff;
padding-left: 22px;
font-family: 'Varela Round', sans-serif;
text-transform: uppercase;

border-color:white;
	
border-style:solid;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:2px;
border-top-width:0px;
}

#menu ul li a:hover{
background-color:#ff0000;
color:white;
}

#carrossel{

margin-bottom: 60px;
margin-left: -25px;
margin-right: -25px;

    
}